
networks:
  app-network:
    driver: bridge

services: 
  # ---------- API ----------
  api_service:
    container_name: api_container
    image: necilcakmak/blog:api
    build: 
      context: .  
      dockerfile: Blog.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_URLS=http://+:80
    depends_on:
      pg_service:
        condition: service_healthy
      rabbitmq_service:
        condition: service_healthy
    volumes:
      - upload_images:/app/wwwroot/images
    networks:
      - app-network
    restart: always

  # ---------- UI ----------
  blog_ui:
    container_name: ui_container
    image: necilcakmak/blog:ui
    build:
      context: ./Blog.Ui          
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: https://api.necilcakmak.com
        NEXT_PUBLIC_IMAGE_URL: https://api.necilcakmak.com/images/
    environment:
      - NODE_ENV=production
    networks:
      - app-network
    depends_on:
      - api_service
    restart: always

  # ---------- Monitoring ----------
  monitoring_service:
    container_name: monitoring_container
    image: necilcakmak/blog:monitoring
    build: 
      context: .  
      dockerfile: Blog.MonitoringService/Dockerfile   
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_URLS=http://+:80
    networks:
      - app-network
    restart: always
    depends_on:
      - api_service

  # ---------- Worker ----------
  worker_service:
    container_name: worker_container
    image: necilcakmak/blog:worker
    build: 
      context: .  
      dockerfile: Blog.WorkerService/Dockerfile  
    depends_on:
      - rabbitmq_service
    networks:
      - app-network
    restart: always

  # ---------- PostgreSQL ----------
  pg_service:
    container_name: pg_container
    image: postgres:latest
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: BlogDB
    volumes:
      - db_volume:/var/lib/postgresql/data/pgdata
    networks:
      - app-network
    restart: always
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "root", "-d", "BlogDB"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ---------- pgAdmin ----------
  pgadmin_service:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    environment: 
      PGADMIN_DEFAULT_EMAIL: root@root.com
      PGADMIN_DEFAULT_PASSWORD: root
    volumes:
      - dbadmin_volume:/var/lib/pgadmin
    networks:
      - app-network
    restart: always

  # ---------- Redis ----------
  redis_service:
    container_name: redis_container
    image: redis:6.2-alpine
    networks:
      - app-network
    restart: always

  # ---------- RabbitMQ ----------
  rabbitmq_service:
    container_name: rabbitmq_container
    image: rabbitmq:3-management
    hostname: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: necil
      RABBITMQ_DEFAULT_PASS: 1234
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - rabbitmq_log:/var/log/rabbitmq

    networks:
      - app-network
    restart: always
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 30s
      timeout: 10s
      retries: 5

  # ---------- Caddy ----------
  caddy:
    container_name: caddy_container
    image: caddy:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    networks:
      - app-network
    depends_on:
      - blog_ui
      - api_service
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

volumes:
  upload_images:
  db_volume:
  dbadmin_volume:
  caddy_data:
  caddy_config:
  rabbitmq_data:
  rabbitmq_log:
