version: "3.9"

networks:
  app-network:
    driver: bridge

services: 
  api_service:
    container_name: api_container
    image: necilcakmak/blog:api
    build: 
      context: .  
      dockerfile: Blog.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_URLS=http://+:80
    depends_on:
      - pg_service
      - pgadmin_service
    volumes:
      - upload_images:/BlogApi/images
    ports: 
      - "44322:80"
    networks:
      - app-network
    restart: always

  blog_ui:
    container_name: ui_container
    image: necilcakmak/blog:ui
    build:
      context: ./Blog.Ui          
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=https://necilcakmak.com/api
    ports:
      - "3000:3000"
    networks:
      - app-network
    depends_on:
      - api_service
    restart: always

  monitoring_service:
    container_name: monitoring_container
    image: necilcakmak/blog:monitoring
    build: 
      context: .  
      dockerfile: Blog.MonitoringService/Dockerfile   
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_URLS=http://+:80
    ports: 
      - "44395:80"
    networks:
      - app-network
    restart: always

  worker_service:
    container_name: worker_container
    image: necilcakmak/blog:worker
    build: 
      context: .  
      dockerfile: Blog.WorkerService/Dockerfile  
    depends_on:
      - rabbitmq_service
    ports: 
      - "44324:80"
    networks:
      - app-network
    restart: always

  pg_service:
    container_name: pg_container
    image: postgres:latest
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: BlogDB
    ports:
      - "5432:5432"
    volumes:
      - db_volume:/var/lib/postgresql
    networks:
      - app-network
    restart: always

  pgadmin_service:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    environment: 
      PGADMIN_DEFAULT_EMAIL: root@root.com
      PGADMIN_DEFAULT_PASSWORD: root
    volumes:
      - dbadmin_volume:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - app-network
    restart: always

  redis_service:
    container_name: redis_container
    image: redis:6.2-alpine
    ports:
      - "6379:6379"
    networks:
      - app-network
    restart: always

  rabbitmq_service:
    container_name: rabbitmq_container
    image: rabbitmq:3-management
    hostname: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: necil
      RABBITMQ_DEFAULT_PASS: 1234
    volumes:
      - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
      - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network
    restart: always

volumes:
  upload_images:
  db_volume:
  dbadmin_volume:
